@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-------------------------------------heading---*/

header{
    margin: 0;
}

.heading{
    margin-left: 50px;
}

.list-inline-item{
    margin: 0;
}

/*-------------------------------------colours---*/
.bg-color-name-title{
    background-color: #676767;
}

.bg-color-three-reasons{
    background-color: #fff;

}

.ui-menu-color-home{
    background-color: #e67e22;
}

.ui-menu-color-contact{
    background-color: #3498db;
}

.ui-menu-color-resume{
    background-color: #9b59b6;
}

.ui-menu-color-download{
    background-color: rgb(110, 148, 110);
}

.bg-color-personal-info{
    background-color: f4f4f4;
}

.pb-color-one{
    background-color: rgb(184, 167, 197);
}

.pb-color-two{
    background-color: rgb(34, 209, 240);
}

.pb-color-three{
    background-color: rgb(221, 202, 29);
}

.pb-color-four{
    background-color: rgb(153, 209, 235);
}

.pb-color-five{
    background-color: rgb(207, 142, 150);
}

.pb-color-six{
    background-color: rgb(230, 174, 22);
}

.bg-color-work-history{
    background-color: #9b59b6;
}

.bg-color-contact{
    background-color: #fff;
}

/*-------------------------------------colours---*/

.logo{
    background: url("../images/rosie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color:#ffffff;
}

.title{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;
}

.menucontainer{
    font-size: 0;
}

#nav li{
    font-size: 14px;
    padding: 0;
    float: left;
}

.menuitem{
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: white;
    height: 120px;
}

.menuitem a i{
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*-------------------------------------hovering---*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height:120px;
}

/*-------------------------------------hovering---*/

/*-------------------------------------special stylings, paddings etc---*/

.uppercase{
    text-transform: uppercase;
}

.general-sub{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

h1,h2,h3,h4 {
    margin: 0;
}

.inline-block{
    display: inline-block;
}

.row-table{
    display: table;
}

.section-column{
    display: table-cell;
    padding: 0 30px 0px 0px;
    float: none;
}

.section-heading{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

.history-heading,

/*-------------------------------------special stylings, paddings etc---*/


/*-------------------------------------3 Reasons---*/

.three-reasons-icon{
    font-size: 26px;
    color: #e67e22;
}

.three-reasons-heading{
    margin-bottom: 15px;
}

/*-------------------------------------3 Reasons---*/



/*-------------------------------------Personal Info---*/

.personal-info-item{
    margin-bottom: 20px;
    display: block;
    clear: both;    
}

.personal-info-item .key,
.personal-info-item .value{
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p{
    margin: 0;
}

.personal-info-item .key{
    width: 30%;
    padding-top: 2px;
    margin-right: 21px;
    vertical-align: top;
}

.personal-info-item .key p{    
    font-weight:700px;    
}

.personal-info-item .value{
    position: relative;
    width: 60%;
}

/*-------------------------------------Personal Info---*/



/*-------------------------------------footers---*/

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;  
    margin: 0;  
}

.cv-pdf i{
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover{
    color:#e84610;
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background-color:#e84610;
}

#footer-details{
    padding: 20px;
}


/*-------------------------------------footers---*/



/*-------------------------------------Skills---*/

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
    width: 100%;
    line-height: 1.5;
    padding-left: 0px;
    margin-left: 20px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: bold;
    padding: 3px 30px 2px 10px;
    color: #f0ebeb;
    background-color: rgba(25, 25, 25, 0.2);
    padding-left: 20px;
    margin-left: opx;
}

.col-2{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 30px;
}

.progress-bar{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: width .6s ease;
    padding-left: 30px;
}

/*-------------------------------------Skills---*/


/*-------------------------------------Work History---*/

.history-heading{
    color: #fafafa;
    margin-bottom: 50px;
    font-weight: 300;
    text-align: center;
}

.timeline-item{
    padding-left: 15px;
    margin-left: 15px;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;    
}

.timeline-item p{
    padding-top: 0px;
    margin: 0;
}

.timeline-item h4{
    padding-top: 30px;
    margin: 0;
}

.timeline-item::before{
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 0em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 10px;
    margin-left: 10px;
}

.timeline-item:after{
    width: 12px;
    height: 12px;
    display: block;
    top: 0.7em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.history-items{
    margin-bottom: 30px;
}

/*-------------------------------------Work History---*/

/*-------------------------------------Contact form---*/

.contact-heading{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type=submit] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

/*-------------------------------------Contact form---*/

/*-------------------------------------Media Queries---*/

@media(min-width: 992px) {
    .center-form{
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
    }
}